.homePage {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.postContents {
  max-width: 600px;
  width: 100%;
  height: auto;
  max-height: 600px;
  background-color: white;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  margin: 20px 0;
  box-sizing: border-box;
}
.postHeader h1 {
  margin: 0;
  text-align: center;
}

.postTextContainer {
  height: auto;
  word-wrap: break-word;
  max-height: 400px;
  width: 100%;
}
.nameAndDeleteButton {
  display: flex;
  align-items: center;
}

.nameAndDeleteButton button {
  flex: 10%;
  background-color: white;
  color: #666;
  font-size:10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px 0;
}
.nameAndDeleteButton button:hover{
    color: #fff;
    background-color: rgb(206, 35, 35);
    border: 1px solid rgb(206, 35, 35);
}

.nameAndDeleteButton h3{
    flex: 90%;
}